.FR_container {
    margin: 5rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.FR_main-img {
    height: auto;
    width: 80%;
}

.FR-bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}